@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 50.6%; 
  margin: 0 auto;
}

/*common styling start here*/

h2 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
}

p { 
  color: #4a4a4a; 
  font-size: 11px; 
}

.logo-wrapper,
.core-business ul,
.latest-news ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h3 {
  color: #5285bc;
  cursor: default;
  font-size: 23px;
}

h4 { 
  cursor: default;
  font-size : 15px;
}

.buttons { 
  padding: 9px 29px;
  border : 1px solid transparent;
  background: #439fe3;
  color: #fff;
  font-size: 10px;
}

/*common styling end here*/
/*=================================
  Header styling starts here
=================================*/

header { 
  width: 100%;
  position: absolute; 
  z-index: 1;
}

.news-header { 
  position: relative; 
  background: #2c5caa;
}

header .wrapper { 
  width : 100%; 
  background: transparent;
}

/*logo-wrapper styling start here*/

.logo-wrapper { 
  width: 50.6%;
  padding: 28px 0 41px; 
  margin: 0 auto;
  background: transparent;
}

.logo-wrapper div { display: inline-block; }

.logo-wrapper .form-group input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 88%;
  padding: 6px 3%;
  border : 1px solid rgba(67,159,227,0.3);
  border-right: none;
  margin-left: 15%;
}

.search-button {
  padding: 7px 12px;
  border: none;
  background: #439fe3;
  color: #fff;
}

/*logo-wrapper styling end here*/

/*menu styling start here*/

header .menu { 
  background : -o-radial-gradient(circle,#3473bd  0%,#326fbb 100%); 
  background : radial-gradient(circle,#3473bd  0%,#326fbb 100%); 
}

/*nav styling strat*/

nav { 
  width: 50.6%;
  margin : 0 auto;
}

nav a { 
  padding: 8px 12px;  
  color: #fff;
  font-size: 11px;
}

nav li {  
  margin-left: -1%; 
  position: relative;
}

nav li:first-child { margin-left: 0; }

nav li:not(:last-child):before {
  content: '';
  padding: 7px 2%;
  border-right: 1px solid #439fe3;
  position: absolute;
  top: 25%;
  right: 0;
}

.active { background: #439fe3; }

/*nav styling end*/

/*hamburger styling start*/

.hamburger {
  width: 22px;
  max-height: 20px;
  display: none;
  float : right;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
} 

.hamburger span {
  width: 100%;
  max-height: 2px;
  position: absolute;
  background : #fff;
  text-indent: -9999px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) { top : 0; }
.hamburger span:nth-child(2) { top : 6px; }
.hamburger span:nth-child(3) { top : 12px; }

.hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {  opacity: 0; }

.hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*hamburger styling end*/
/*menu styling end here*/
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner styling start*/

.banner,
.flagship-confernce {  background: #2c5daa; }

.banner .wrapper { 
  padding-bottom: 414px;
  background : url('https://via.placeholder.com/880x416.png/2c5daa?text=EuroFinance'); 
}

.banner-text {
  width: 31%;
  position : absolute;
  top: 50%;
  left : 24%;
  color : #fff;
  transform: translate(3%, -50%);
}

.banner-text li { display: block; }

.banner h2 { margin-top: 74px; }

.banner .banner-text p { 
  color: #63c6ec;
  font-size: 24px;
  letter-spacing : -1px;
  line-height: 26px;  
}

/*banner styling end*/

/*core-business styling start here */

.core-business { margin: 42px 0 33px; }

.core-business li {
  flex-basis: 12%;
  text-align: center;
}

.core-business figure { 
  margin: 17px 0 12px;
  display: inline-block; 
}

.core-business img {
  border : 1px solid #518bc3;
  border-radius: 50%;
}

.core-business a { color: #518bc3; }

/*core-business styling end here*/

/*flagship-confernce styling start*/

.flagship-confernce h3 { color: #fff; }

.flagship-confernce h4 { 
  width: 79%;
  margin-top: 9px; 
  font-size: 18px;
}

.flagship-confernce .wrapper { 
  padding-bottom: 370px;
  background : url('https://via.placeholder.com/880x416.png/2c5daa'); 
}

.flagship-confernce p {
  width: 100%;
  margin: 14px 0 21px;
  color: #fff;
  letter-spacing: -1px;
  font-size: 13px;
}

/*flagship-confernce styling end*/

/*latest-news styling start here*/

.latest-news {  margin: 43px 0 40px; }
.latest-news ul { margin-top : 19px; }
.latest-news a { color : #5285bc; }
.latest-news p {  width: 90%; }

.latest-news li {
  flex-basis: 24%;
}

.latest-news span ,
.date {
  margin: 11px 0 6px;
  display: inline-block;
  color: #aaacb8;
  font-size: 12px;
}

/*latest-news styling end here*/

.newsletter {
  background: #18376b;
}

.banner .wrapper ,
.flagship-confernce .wrapper {
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px remove hover starts here*/
@media only screen and (min-width: 1024px) {

  nav a:hover { background: #439fe3; }

  .core-business a:hover { color: #151e6b; }

  .buttons:hover {
    border : 1px solid #439fe3;
    background: #fff;
    color: #439fe3;
  }
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  