@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 50.6%; 
  margin: 0 auto;
}

/*common styling start here*/

h2 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
}

p { 
  color: #4a4a4a; 
  font-size: 12px; 
}

h3 {
  color: #5285bc;
  cursor: default;
  font-size: 23px;
}

h4 { 
  cursor: default;
  font-size : 15px;
}

h5 {
  margin-bottom: 20px;
  color: #439fe3;
}

h6 {
  margin : 2px 0 13px;
  font-size: 14px;
}

.buttons { 
  padding: 9px 29px;
  border : 1px solid transparent;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;
  background: #439fe3;
  color: #fff;
  font-size: 10px;
}

.flagship-confernce h3,
.newsletter h3 { color: #fff; }

.form-group input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 88%;
  padding: 6px 3%;
  border : 1px solid rgba(67,159,227,0.3);
}

span {
  display: inline-block;
  color: #4a4a4a;
  font-size: 12px;
}

.logo-wrapper,
.core-business ul,
.latest-news ul,
.about-treasury-network,
.top-footer,
.footer-bottom,
.all-conferences,
.become-sponsor-speaker,
.sign-up ul,
.news .wrapper,
.single-news ul,
.all-news > .wrapper,
.must-see-slider,
.others-news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.all-conferences,
.others-news-list,
.must-see-slider {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.must-see .wrapper,
aside .wrapper{ 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*common styling end here*/

/*=================================
  Header styling starts here
=================================*/

header { 
  width: 100%;
  position: absolute; 
  z-index: 1;
}

.news-header { 
  position: relative; 
  background: #2c5caa;
}

header .wrapper { background: transparent; }

/*logo-wrapper styling start here*/

.logo-wrapper { 
  padding: 28px 0 41px; 
  background: transparent;
}

.logo-wrapper .form-group input { 
  border-right: none;
  margin-left: 15%; 
}

.logo-wrapper div { display: inline-block; }

.search-button {
  padding: 7px 12px;
  border: none;
  background: #439fe3;
  color: #fff;
}

/*logo-wrapper styling end here*/

/*menu styling start here*/

header .wrapper + div { 
  background : #326fbb;
  background : -o-radial-gradient(circle,#3473bd  0%,#326fbb 100%); 
  background : radial-gradient(circle,#3473bd  0%,#326fbb 100%); 
}

/*nav styling strat*/

nav a { 
  padding: 8px 12px;  
  color: #fff;
  font-size: 11px;
}

nav li {  
  margin-left: -1%; 
  position: relative;
}

nav li:first-child { margin-left: 0; }

nav li:not(:last-child):before {
  content: '';
  padding: 7px 2%;
  border-right: 1px solid #439fe3;
  position: absolute;
  top: 25%;
  right: 0;
}

.active { background: #439fe3; } 

/*nav styling end*/

/*hamburger styling start*/

.hamburger {
  width: 22px;
  min-height: 25px;
  display: none;
  float : right;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
} 

.hamburger span {
  width: 100%;
  max-height: 2px;
  position: absolute;
  background : #fff;
  text-indent: -9999px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) { top : 0; }
.hamburger span:nth-child(2) { top : 6px; }
.hamburger span:nth-child(3) { top : 12px; }

.hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {  opacity: 0; }

.hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*hamburger styling end*/
/*menu styling end here*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner styling start*/

.banner {  background : url('https://via.placeholder.com/880x416.png/2c5daa?text=EuroFinance'); }

.banner .wrapper { 
  padding-bottom: 414px;
  position: relative; 
}

.banner-text {
  width: 50%;
  position : absolute;
  top: 50%;
  left : 0;
  color : #fff;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.banner-text li { display: block; }

.banner h2 { margin-top: 74px; }

.banner .banner-text p { 
  color: #63c6ec;
  font-size: 24px;
  letter-spacing : -1px;
  line-height: 26px;  
}

/*banner styling end*/

/*core-business styling start here */

.core-business { margin: 42px 0 33px; }
.core-business img { max-width: 70px; }

.core-business li {
  -ms-flex-preferred-size: 12%;
  flex-basis: 12%;
  text-align: center;
}

.core-business figure { 
  min-height: 70px;
  margin: 17px 0 12px;
  display: inline-block; 
}

.core-business img {
  border : 1px solid #518bc3;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
}

.core-business a { color: #518bc3; }

/*core-business styling end here*/

/*flagship-confernce styling start*/

.flagship-confernce .banner-text { width: 58%; }

.flagship-confernce h4 { 
  width: 79%;
  margin-top: 9px; 
  font-size: 18px;
}

.flagship-confernce { background : url('https://via.placeholder.com/880x416.png/2c5daa'); }

.flagship-confernce .wrapper { 
  padding-bottom: 370px;
  position: relative;
}

.flagship-confernce p {
  width: 100%;
  margin: 14px 0 21px;
  color: #fff;
  letter-spacing: -1px;
  font-size: 13px;
}

/*flagship-confernce styling end*/

/*latest-news styling start here*/

.latest-news {  margin: 43px 0 40px; }
.latest-news ul { margin-top : 19px; }
.latest-news a { color : #5285bc; }

.latest-news p {  
  width: 90%; 
  font-size: 11px;
}

.latest-news li {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
}

.latest-news span ,
.date {
  margin: 11px 0 6px;
  display: inline-block;
  color: #aaacb8;
}

/*latest-news styling end here*/

/*newsletter styling start here*/

.newsletter {
  padding: 50px 0;
  background: #18376b;
  background: -webkit-gradient(linear,left top, right top,from(#2a5aa3),to(#1e3060));
  background: -o-linear-gradient(left,#2a5aa3 0%,#1e3060 100%);
  background: linear-gradient(to right,#2a5aa3 0%,#1e3060 100%);
}

.newsletter li { display: block; }

.newsletter p { 
  margin: 15px 0 22px;
  color: #fff; 
  font-size: 16px;
}

.newsletter .form-group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 46%;
  margin-right: 2%;
  display: inline-block;
  float: left;
}

.form-container span {  font-size : 13px; }

.form-group span { 
  min-height : 30px;
  padding : 8px 2%;
  display: block; 
  color: #FF0000;
}

/*newsletter styling end here*/

/*treasury-network styling start here*/

.treasury-network { margin:  71px 0; }
.about-treasury-network p { margin: 12px 0 48px; }

.about-treasury-network li:first-child { 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  padding: 2%;
}

.about-treasury-network li { 
  -ms-flex-preferred-size: 50%; 
  flex-basis: 50%; 
}

.about-treasury-network li:last-child a {
  padding: 9px 29px;
  border : 1px solid #439fe3;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;
  margin-left: 8px;
  background: #fff;
  color: #439fe3;
  font-size: 10px;
}

/*treasury-network styling end here*/

/*=================================
conferences page styling start here
=================================*/

/*banner styling start here*/

.conferences-banner span {
  margin: 9px 0 17px;
  display: inline-block;
  color: #63c6ec;
  font-size: 18px;
  text-transform: capitalize;
}

.conferences-banner { background : url('https://via.placeholder.com/880x416.png/2c5daa'); }
.conferences-banner .wrapper { padding-bottom: 424px; }

/*banner styling end here*/

.conferences-section { padding : 23px 0; }
.conferences-section ul:first-child { font: 600 10px sans-serif; }
.conferences-section ul:first-child a {  color: #7c7f81; }
.conferences-section ul:first-child  span {  color: rgba(0,0,0,0.8);}

.conferences-section ul:first-child a:after {  
  content: "\f054";
  margin: 2px 10px 0;
  float: right;
  font: 8px fontAwesome;
}

.conferences-section h3 { margin: 18px 0 35px; }

.all-conferences li {
  margin-bottom:  9px;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}

.all-conferences a { position: relative; }

.image-info { padding-top : 17px; }

.conferences-section h4 { 
  margin-bottom: 6px;
  color: #346eb6; 
}

.lightbox { 
  display : none;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.lightbox-container {
  width: 25%;
  padding : 48px 1%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.lightbox span:last-child {
  color: #666;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.close {
  position: absolute;
  top: 3%;
  right: 3%;
  color: #000;
  font: bold 30px sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor : pointer;
} 

.lightbox figure { 
  border: none;
  display: block;
}

.lightbox h4 { 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 15px 0;
}

/*conferences-section styling end here*/

/*become-sponsor-speaker styling start here*/

.become-sponsor-speaker { padding :42px 0 17px; }

.become-sponsor-speaker ul { 
  padding-left: 12%; 
  font-size: 12px;
}

.become-sponsor-speaker li { 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  padding   : 33px 7.5%;
  background:  #3c72a8;
  background : -webkit-gradient(linear,left top, right top,from(#3c72a8),to(#4a5b86));
  background : -o-linear-gradient(left,#3c72a8  0%,#4a5b86 100%);
  background : linear-gradient(to right,#3c72a8  0%,#4a5b86 100%); 
  -ms-flex-preferred-size: 49%; 
  flex-basis: 49%; 
}

.become-sponsor-speaker ul li {
  padding: 0 0 10px 0;
  display: list-item;
  color:   #fff;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  list-style-type: disc;
}

.conferences .buttons { font-size: 12px; }
.become-sponsor-speaker .buttons { padding: 9px 20px; }

/*become-sponsor-speaker styling end here*/

/*create-event styling start*/

.create-event { padding-bottom: 32px; }

.create-event p { margin: 12px 0 25px }

/*create-event styling end*/

/*sign-up styling start*/

.sign-up .form-container { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-up {  
  padding: 42px 0 46px;
  background : #1e3060;
  background: -webkit-gradient(linear,left top, right top,from(#005faa),to(#1e3060));
  background: -o-linear-gradient(left,#005faa 0%,#1e3060 100%);
  background: linear-gradient(to right,#005faa 0%,#1e3060 100%); 
  color: #fff;
}

.sign-up h3 { 
  margin-bottom: 6px;
  color: #fff;  
}

.sign-up .form-group input { 
  width: 231px; 
  margin-left: 2%;
} 

.sign-up .buttons { padding: 7px 27px; }
.sign-up ul div { display: inline-block; }
.sign-up li:first-child { font-size: 12px; }

/*sign-up styling end*/

/*=================================
 conferences page styling end here
=================================*/

/*=================================
 news page styling start here
=================================*/

.news .wrapper,
.news-header .wrapper,
.news + footer .wrapper { width: 70.5%; }

.news .wrapper .wrapper { 
  width: 100%;
  margin: 0; 
}

.news-content { 
  -ms-flex-preferred-size: 72%; 
  flex-basis: 72%; 
}

aside { 
  padding-top : 25px;
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%; 
}

/*=================================
 must see section styling start here
=================================*/

/*single-news styling start here*/

.single-news li { 
  -ms-flex-preferred-size: 50%; 
  flex-basis: 50%; 
}

.single-news span:first-of-type { margin-bottom : 12px; }
.single-news li:first-child { padding: 16px 2% 10px; }
.single-news li:last-child { overflow: hidden; }
.single-news img { min-height: 203px; }
.single-news ul { border: 1px solid #e5ecf3; }
.single-news .date{ margin: 6px 0 6px; }
.single-news a { float: right; }

.single-news .wrapper { 
  padding: 25px 0 12px;
  border-bottom: 1px solid #e5ecf3;
}

/*single-news styling end here*/

/*all-news styling start here*/

.all-news {
 padding: 12px 0; 
 border-bottom: 1px solid #e5ecf3;
 margin-bottom: 15px;
}
.news h4,
.news h4 a { color: #47aef1; }

.all-news article,
.others-news-list li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2%; 
  -ms-flex-preferred-size: 31.5%; 
  flex-basis: 31.5%; 
}

.news span:first-of-type { 
  margin: 11px 0;
  display: block;
  color:  #7394bf
}

.all-news article:not(:last-child),
.others-news-list li:not(:nth-child(3n)) { border-right: 1px solid #e5ecf3;  }

article figure {
  display: inline-block;
 overflow: hidden;
  }

.all-conferences, 
.others-news-list { padding-top: 10px; }

/*all-news styling end here*/

/*must-see-slider styling start*/

.must-see-slider .slick-slide {  margin : 0  10px;  }

.must-see-slider .slick-list {
  margin : 0 -10px;
  pointer-events: none;
}

.must-see-slider { 
  padding-bottom: 10px;
  border-bottom: 1px solid #e5ecf3;
  margin-top: 10px;
}

.must-see-slider li { 
  -ms-flex-preferred-size:  33%; 
  flex-basis:  33%; 
}

.must-see-slider h4 { color: #1b65ad; }

.video { 
  padding: 10px 0;
  color: #4c5a85;
  font-size: 12px; 
}

.video li:first-child { 
  padding-right: 2%;
  border-right: 1px solid  #4c5a85;
  margin-right: 1%;
}

.must-see-slider a { position: relative; }

.must-see-slider a:before {
  content: "\f144";
  position: absolute;
  top: 50%;
  left : 50%;
  color: #fff;
  font : 40px fontAwesome;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/*must-see-slider styling end*/

/*others-news-list styling start*/

.others-news-list li { margin-bottom: 18px; }

.hidden-news + div {
  padding: 19px 0 31px;
  text-align: center;
}

.hidden-news { display: none; }

.news .buttons { font-size: 12px; }

/*others-news-list styling end*/

/*=================================
 must see section styling end here
=================================*/

/*=================================
 aside section styling start here
=================================*/

/*newsletter sign up section styling start here*/

.newsletter-sign-up {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 9%;
  margin-bottom: 14px;
  background:  #005faa;
  background: -webkit-gradient(linear,left top, right top,from(#1e3060),to(#005faa));
  background: -o-linear-gradient(left,#1e3060 0%,#005faa 100%);
  background: linear-gradient(to right,#1e3060 0%,#005faa 100%);  
  color: #fff;
}

.newsletter-sign-up li { 
  width: 100%;
  display: block; 
}

.newsletter-sign-up h4 {
  margin-bottom: 8px;
  color: #fff;
}

.newsletter-sign-up .buttons { 
  width: 91%;
  padding: 9px 8px;
  text-align: center; 
}

/*newsletter sign up section styling end here*/

/*most-viewed styling start*/

.most-viewed h3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 4%;
  font-size: 18px;
  background: #005faa;
  background: -webkit-gradient(linear,left top, right top,from(#1e3060),to(#005faa));
  background: -o-linear-gradient(left,#1e3060 0%,#005faa 100%);
  background: linear-gradient(to right,#1e3060 0%,#005faa 100%);
  color : #fff;
}

.most-viewed ul { 
  padding: 5px 4%;  
  border: 1px solid #e5ecf3; 
  margin-bottom: 25px; 
}

.most-viewed li { display: block; }
.most-viewed li:not(:last-child) { border-bottom: 1px solid #e5ecf3; }

/*most-viewed styling end*/

/*=================================
 aside section styling end here
=================================*/

/*=================================
 news page styling end here
=================================*/

/*override style start here*/

.banner ,
.flagship-confernce {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.success { 
  width: 40%;
  padding: 5px 2%;
  margin-top: 10px;
  background: #fff;
  color: #155724;  
}

/*override style end here*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  padding-top : 35px;
  position: relative;
  z-index: 1;
  background: #1e3060;
  background: -o-linear-gradient(left,#005faa 0%,#1e3060 100%);
  background: -webkit-gradient(linear,left top, right top,from(#005faa),to(#1e3060));
  background: linear-gradient(to right,#005faa 0%,#1e3060 100%); 
  color: #fff;
}

.top-footer { margin-bottom: 47px; }

.top-footer > li:nth-child(1) { 
  -ms-flex-preferred-size: 26%; 
  flex-basis: 26%; 
}

.top-footer > li:nth-child(2) { 
  -ms-flex-preferred-size: 29%; 
  flex-basis: 29%; 
}

.top-footer > li:nth-child(3) { 
  -ms-flex-preferred-size: 28%; 
  flex-basis: 28%; 
}

.footer-nav li {  
  margin-bottom: 2px;
  display: block; 
  font-size: 12px;
}

footer a { color: #fff; }

.social-menu a {  
  position: relative;
  text-indent: -9999px; 
}

.social-menu li:not(:last-child) { margin-right: 4%; }
.footer-bottom ul li { font-size: 9px; }

.social-menu a:before {
  padding: 8px;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
  float: right;
  background: #fff;
  font: 16px fontAwesome;
  text-align: center;
  text-indent: 0;
}

.linkedin:before { 
  content: "\f0e1";
  color: #3377b5; 
}

.twitter:before {
  content: "\f099";
  color: #47a0f2;
}

.youtube:before {
  content: "\f04b";
  color: #f32a20;
}

.facebook:before {
  content: "\f09a";
  color: #4a6ab0;
}

footer .wrapper + div {
  background: #0e3765;
}

.footer-bottom { padding-top : 5px; }

.footer-bottom li:first-child { 
  -ms-flex-preferred-size: 70%; 
  flex-basis: 70%; 
}

.footer-bottom ul li:not(:last-child) { 
  padding-right: 0.5%;
  border-right : 1px solid #fff; 
}

footer p {
  margin-top: 5px;
  color: #fff;
  font-size: 9px;
}

.back-to-top {  
  display: none;
  position: relative;
  text-indent: -9999px;
}

.back-to-top:before {
  content: "\f077";
  padding: 15px;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
  float: right;
  position: fixed;
  z-index: 2;
  right: 5%;
  bottom: 10%;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font : 25px fontAwesome;
  text-indent: 0;
}

/*conferences footer styling start here*/

.conferences + footer { 
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.5); 
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.5); 
}

/*conferences page styling end here*/

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px remove hover starts here*/
@media only screen and (min-width: 1024px) {

  /*=================================
  index  hover effect styling start here
  =================================*/ 

  nav a:hover { background: #439fe3; }

  .core-business a:hover,
  .latest-news a:hover,
  .news h4 a:hover { 
    color: #151e6b; 
    text-decoration : underline;
  }

  footer a:hover { text-decoration: underline;  }

  .back-to-top:hover::before { background: rgba(0,0,0,0.9); }

  .buttons:hover {
    border : 1px solid #439fe3;
    background: #fff;
    color: #439fe3;
  }

  .about-treasury-network li:last-child a:hover {
    border : 1px solid transparent;
    background: #439fe3;
    color: #fff;
  }

  .social-menu a:hover::before { color: rgba(0,0,0,0.5); }

  /*===================================
  index  hover effect styling end here
  ======================================*/ 

  /*===============================================
  conference page  hover effect styling start here
  ===================================================*/ 

  .conferences-section ul:first-child a:hover { color: #2c5caa; }

  .all-conferences a:hover::before {
    content: '';
    position: absolute;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .all-conferences a:hover::after {
    content: "\f067";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #1c7dc6;
    font: 25px fontAwesome;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

 /*==========================================
  conference  hover effect styling end here
  ===========================================*/ 

  /*==========================================
  news  hover effect styling end here
  ===========================================*/ 

  .single-news a:hover,
  article a:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }

  /*==========================================
  news  hover effect styling end here
  ===========================================*/ 

}  

/*media query for 1200px starts here*/
@media only screen and (max-width: 1200px) {

  nav a { padding: 8px; }

  .buttons,
  .about-treasury-network li:last-child a
   { padding: 9px 15px; }

}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .wrapper { width : 70%; }

  .core-business ul,
  .latest-news ul { 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
  }

  /*header styling styling start*/

  header .form-container { display: none; }

  .logo-wrapper { 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; }

  header { 
    position: relative; 
    background: #2c5caa;
  }

  header .menu { 
    min-height: 17px;
    padding: 13px 1%;
  }

  .active {
    background: transparent;
    text-decoration: underline;
  }

  nav { 
    width: 100%;
    height: 0;
    position: absolute; 
    z-index: 5;
    top: 98%;
    left : 0;
    background: rgba(28,125,198,0.9);
    overflow: hidden;
    -webkit-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;
  }

  nav li { 
    padding : 10px 0;
    border-bottom: 1px solid #ddd;
    display: block; 
    text-align: center;
  }

  .hamburger { display: block; }

  nav a { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px 0; 
    display: block;
  }

  .navHeight { height: 100vh; }

  /*header styling end here*/

  /*banner styling start here*/

  .banner,
  .flagship-confernce {
    background: #1e3060;
    background: -o-linear-gradient(left,#2a5aa3 0%,#1e3060 100%);
    background: -webkit-gradient(linear,left top, right top,from(#2a5aa3),to(#1e3060));
    background: linear-gradient(to right,#2a5aa3 0%,#1e3060 100%);
  }

  .banner .wrapper { min-height: 85vh; }
  .banner h2 { margin-top: 0; }

  .banner .wrapper,
  .flagship-confernce .wrapper {  padding: 0;  }

  .banner-text { 
    width: 100%; 
    left : 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  /*banner styling end here*/

  /*core-business styling start here*/

  .core-business li {
    padding: 10px 0;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;  
  }

  /*core-business styling end here*/

  /*.flagship-confernce styling start here*/

  .flagship-confernce .wrapper { min-height: 70vh; }
  .flagship-confernce .wrapper { width: 85%; }
  .flagship-confernce h4 { width: 100%; }
  .flagship-confernce .banner-text { width: 80%; }

  /*.flagship-confernce styling end here*/

  /*latest-news styling start here*/

  .latest-news li {
    padding: 10px 0;
    border-bottom: 1px solid #e5ecf3;
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }

  /*latest-news styling end here*/

} 

/*classess for javascript*/

.show { display: block; }
.hide { display: none; }
.overflow { overflow : hidden; }